@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
body {
  @apply text-white lg:cursor-none;
}
a {
  @apply lg:cursor-none;
}
.container {
  @apply max-w-full lg:max-w-[1800px] px-[20px] md:px-[60px] lg:px-[100px] mx-auto;
}
.full-height-section {
  @apply min-h-screen flex flex-col justify-center pt-[150px] md:pt-[200px] lg:pt-[250px];
}
.rounded {
  @apply rounded-[14px] lg:rounded-[20px] overflow-hidden;
}
.text p {
  @apply mb-5;
}
p em {
  @apply text-accent not-italic;
}
p a {
  @apply underline;
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  width: 6px;
  @apply bg-dark;
}
*::-webkit-scrollbar-thumb {
  width: 6px;
  @apply bg-accent;
}

/* cursor */
.mf-cursor.-pointer:not(.-text) {
  mix-blend-mode: screen;
}
.mf-cursor:before {
  @apply bg-accent scale-[0.55];
}
.mf-cursor.-text:before,
.mf-cursor.-text.-active:before,
.mf-cursor.-pointer:before {
  @apply opacity-100 bg-accent scale-[2.3];
}
.mf-cursor-text {
  @apply font-body text-white p-2 text-[1.2rem] w-[100px] h-[100px] top-[-50px] left-[-50px];
}
.mf-cursor.-opacity:before {
  @apply opacity-0 scale-[0.55];
}
